<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="form-group col-sm-5">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control">
                </div>

                <div class="form-group col-sm-2">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="action-buttons col-xs-12">
                    <button type="submit" class="btn btn-success" style="margin-right: '2px !important'">Add</button>
                    <button type="button" class="btn btn-danger" style="margin: '0 2px !important'">Delete</button>
                    <button type="button" class="btn btn-primary" style="margin-left: '2px !important'">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>